.header {
    width: 100%;
    height: 100vh;
}
.wrap_header_nav{
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #716246;
    position: fixed;
    top: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.51);
    backdrop-filter: blur(10px);
}
.title_main {
    height: calc(100% - 12px);
    margin-top: 0;
    text-align: center;
    position: relative;
}
.title_main > img {
    width: 640px;
    position: absolute;
    left: calc(50% - 320px);
    top: calc(50% - 40px);
}
@media (max-width: 885px){
    .wrap_header_nav{
        height: 80px;
    }
    .title_main > img {
        width: 440px;
        left: calc(50% - 220px);
    }
}
@media (max-width: 480px){
    .title_main > img {
        width: 240px;
        left: calc(50% - 120px);
    }
}