.wrap_icons_link {
    width: 245px;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.about_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 30px;
    cursor: pointer;
}
.about_icon_name {
    background: url(../../img/icons/icons_about/YG.png) 47% center no-repeat;
    background-size: 100% auto;
}
.about_icon_mail {
    background: url(../../img/icons/icons_about/e-mail.png) 47% center no-repeat;
    background-size: 100% auto;
}
.about_icon_facebook {
    background: url(../../img/icons/icons_about/Face.png) 47% center no-repeat;
    background-size: 100% auto;
}
.about_icon_insta {
    background: url(../../img/icons/icons_about/inst.png) 47% center no-repeat;
    background-size: 100% auto;
}
.about_icon_vk {
    background: url(../../img/icons/icons_about/vk.png) 47% center no-repeat;
    background-size: 100% auto;
}
.about_icon_name:hover {
    background: url(../../img/icons/icons_about/YG_hover.png) 47% center no-repeat;
    background-size: 100% auto;
    background-color: #fff;
    color:  #BCBCBC;
}
.about_icon_mail:hover  {
    background: url(../../img/icons/icons_about/e-mail_hover.png) 47% center no-repeat;
    background-size: 100% auto;
    background-color: #fff;
}
.about_icon_facebook:hover  {
    background: url(../../img/icons/icons_about/Face_hover.png) 47% center no-repeat;
    background-size: 100% auto;
    background-color: #fff;
}
.about_icon_insta:hover  {
    background: url(../../img/icons/icons_about/inst_hover.png) 47% center no-repeat;
    background-size: 100% auto;
    background-color: #fff;
}
.about_icon_vk:hover  {
    background: url(../../img/icons/icons_about/vk_hover.png) 47% center no-repeat;
    background-size: 100% auto;
    background-color: #fff;
}
@media (max-width: 885px){
    .wrap_icons_link {
        width: 210px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .about_icon {
        margin-top: 20px;
    }
}