.wrap_icons-link {
    width: 320px;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.block_icon {
    width: 45px;
    height: 45px;
    margin-top: 35px;
    border: 2px solid #716246;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #716246;
}
.block_icon:hover {
    color: #000;
    background-color: #716246;
    cursor: pointer;
} 
.icon-face {
    font-size: 30px;
}
.icon-insta {
    font-size: 35px; 
}
.icon-vk {
    background: url(../../img/icons/vk_gold.svg) 47% center no-repeat;
    background-size: 70% auto;
}
.icon-vk:hover {
    background: url(../../img/icons/vk.svg) 47% center no-repeat;
    background-size: 70% auto;
    background-color: #716246;
}
.icon_name {
    background: url(../../img/icons/YG.png) center center no-repeat;
    background-size: 110% 110%;
}
.icon_name:hover {
    background: url(../../img/icons/YG_hover.png) center center no-repeat;
    background-size: 110% 110%;
}