.wrap_icons_link {
    width: 245px;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.block_icon_post > a,
.block_icon {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    border: 2px solid #716246;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #716246;
}
.block_icon_post > a:hover,
.block_icon:hover {
    color: #000;
    background-color: #716246;
    cursor: pointer;
} 
.icon_face {
    font-size: 20px;
}
.icon_insta {
    font-size: 22px; 
}
.icon_vk {
    background: url(../../img/icons/vk_gold.svg) 47% center no-repeat;
    background-size: 70% auto;
}
.icon_vk:hover {
    background: url(../../img/icons/vk.svg) 47% center no-repeat;
    background-size: 70% auto;
    background-color: #716246;
}
.icon_name {
    background: url(../../img/icons/YG.png) center center no-repeat;
    background-size: 110% 110%;
}
.icon_name:hover {
    background: url(../../img/icons/YG_hover.png) center center no-repeat;
    background-size: 110% 110%;
}
@media (max-width: 885px){
    .wrap_icons_link {
        width: 210px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .block_icon_post > a,
    .block_icon {
        margin-top: 20px;
    }
}